@use '../variables' as vars;

header {
    padding: 16px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;

    &__row {
        display: flex;
    }

    &__button {
        display: flex;
        align-items: center;
        margin-right: 16px;

        img {
            width: 28px;
            height: 28px;
            margin-right: 8px;
            background-color: vars.$blue;
            border-radius: 50%;
            padding: 7px;
        }

        span {
            color: vars.$textColor;
        }

        &:hover {
            span {
                color: vars.$hoverColor;
            }
        }
    }
}

.members {
    display: flex;
    align-items: center;

    &__item {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        margin-left: -8px;
    }
}