$lineHeight: 1.4;
$textColor: #11192B;
$borderRad: 6px;

// Button
$white: #fff;
$grey: #11192b4d;
$blue: #4485FF;
$hoverColor: #2A6EEB;
$halfBlue: #4485ff80;
$red: #FF4A44;
$dropShadow: drop-shadow(0px 0px 8px rgba(17, 25, 43, .1));